/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: "Witney", sans-serif;
}

.container {
    width: 70%;
    margin: auto;
}

.col {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100%;
}

.btn-small {
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 40px;
    font-size: 16px;
    line-height: normal;
}

.btn-large {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    margin-right: 30px;
    padding: 16px 32px;
    border-radius: 40px;
    line-height: normal;
}

.text {
    font-size: 20px;
    line-height: 30px;
}

.btn-white {
    background-color: white;
    color: #23272a;
}

.btn-black {
    background-color: #23272a;
    color: white;
}

.btn-purple {
    background-color: #8ea1e1;
    color: white;
}

.wave {
    color: #f6f6f6;
}

/* HEADER */
header {
    background-color: #255ee9;
}

nav {
    line-height: 80px;
}

.logo, .login {
    width: 10%;
}

.logo img {
    vertical-align: middle;
}

.logo-img {
    width: 105px;
}

/* Menu */
.central-menu {
    width: 80%;
    text-align: center;
}

.top-menu {
    list-style-type: none;
}

.top-menu li {
    display: inline-block;
    margin: 0 15px;
}

.top-menu a {
    text-decoration: none;
    color: white;
}

.login {
    text-align: right;
}

/* MAIN */
.jumbotron {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    padding: 120px 0;
}

.jumbo-content {
    width: 50%;
    margin: auto;
    color: white;
    text-align: center;
}

.jumbo-content h1 {
    margin-bottom: 40px;
    font-size: 50px;
}

.buttons {
    margin-top: 30px;
}

/* Sections */
main section {
    padding: 40px 0;
}

.description .col-img {
    width: 60%;
    padding: 40px 0;
}

.description .col-text {
    width: 40%;
    padding: 70px 50px;
    color: #23272a;
}

.sub {
    font-size: 45px;
    color: #23272a;
    line-height: 1.2;
}

.par {
    margin-top: 30px;
    color: #23272a;
}

.grey {
    background-color: #f6f6f6;
}

.bottom-text {
    text-align: center;
}

.stars {
    text-align: center;
}

.stars h4 {
    font-size: 30px;
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    background-position: contain;
    width: 50%;
    margin: auto;
    padding: 30px 0;
}

.wave svg {
    display: block;
}

/* FOOTER */
footer {
    padding: 90px 0;
    background-color: #23272a;
    color: white;
}
.footer-menus {
    border-bottom: 1px solid #7289da;
}
.socials {
    width: 30%;
}
.footer-links {
    width: 17.5%;
}

/* Socials */
footer h4 {
    font-size: 30px;
    color: #7289da;
}
.languages {
    margin: 25px 0;
    font-size: 15px;
}

.flag {
    width: 25px;
    vertical-align: middle;
}
.social-links li {
    display: inline-block;
    margin-right: 20px;
}
.social-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Single menu */
.footer-links {
    margin-bottom: 30px;
}

.footer-links h5 {
    font-size: 15px;
    color: #7289da;
    margin-bottom: 10px;
}
.footer-links li {
    margin-bottom: 10px;
    list-style-type: none;
}
.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* Final footer */
.footer-bottom {
    margin-top: 30px;
}
.footer-logo,
.register {
    width: 50%;
}
.register {
    text-align: right;
} 




